.main-home {
  .hero {
    text-align: center;
  }

  .hero-inner {
    max-width: 1000px;
    line-height: 1.1;
    font-size: 20px;

    p {
      margin: 1rem 0 2rem;
    }
  }

  .video-section {
    .video-background-container {
      width: 90%;
      max-width: 1900px;
      margin: 0 auto 0.5rem;
    }

    .video-background-video {
      border-radius: 20px;
    }
  }

  .video-section-text-overlay {
    .video-background-container {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        opacity: 0.3;
        z-index: 1;
      }
    }

    p {
      position: absolute;
      top: 80px;
      left: auto;
      right: 40px;
      max-width: 500px;
      font-size: 2.2rem;
      line-height: 1.1;
      color: var(--color-white);
      z-index: 2;
    }
  }

  .video-section-cta-overlay {
    .video-background-container {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        opacity: 0.3;
        z-index: 1;
      }
    }

    .video-section-cta-overlay-content {
      position: absolute;
      top: 80px;
      left: 80px;
      font-size: 2.2rem;
      line-height: 1.1;
      color: var(--color-white);
      z-index: 2;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  .about-section,
  .value-proposition-section,
  .questions-section {
    text-align: center;
    background-color: var(--color-primary);
  }

  .about-title {
    max-width: 700px;
    margin: 0 auto 1rem;
  }

  .meet-sage-section {
    text-align: center;
    h2 {
      color: var(--color-primary);
      margin-bottom: 1rem;
      line-height: 1.1;
    }
    .meet-sage-intro {
      max-width: 550px;
      margin: 0 auto 1rem;
      font-size: 1.1rem;
    }
    .sage-steps-container {
      height: 4000px; /* Increased for longer scroll duration */
    }

    .sage-steps-wrapper {
      position: sticky;
      position: -webkit-sticky;
      top: calc(50vh - (400px / 2));
      height: 400px;
    }
    .sage-step {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .step-content {
      /* max-width: 250px; */
      text-align: left;
      flex: 1;
    }
    .empty-step {
      opacity: 0;
    }

    .step-image {
      flex: 1.5;
    }

    .step-content.right {
      left: auto;
      right: 0;
      text-align: right;
    }
  }

  .case-studies-section {
    .case-studies-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
    }

    .case-study-card img {
      border-radius: var(--space-md);
      margin-bottom: 2rem;
      box-shadow: var(--shadow-md);
    }

    .case-study-content {
      padding-top: 1.5rem;
      border-top: 2px solid var(--color-primary);
      max-width: 300px;
      line-height: 1.3;

      p {
        font-style: italic;
        font-size: 0.95rem;
      }
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }

    .case-studies-cta {
      margin-top: 2rem;
      text-align: center;
    }
  }
  .value-proposition-title {
    max-width: 850px;
    margin: 0 auto 1rem;
  }

  .proptix-way-section {
    text-align: center;
    h2 {
      color: var(--color-primary);
      margin-bottom: 2rem;
      line-height: 1.1;
    }
    h3 {
      font-weight: 700;
      font-style: italic;
    }

    .pt-1 {
      padding-top: 0.6rem;
    }

    .comparison-header,
    .comparison-row {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      font-style: italic;
    }

    .comparison-cell {
      width: 300px;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      padding: 0.6rem;
      box-sizing: content-box;
    }

    .comparison-cell[class*="old-way"] {
      background-color: var(--color-old-way);
    }
    .comparison-cell[class*="proptix-way"] {
      background-color: var(--color-accent-1);
      color: var(--color-surface);
      font-style: normal;
    }
  }

  .plans-section {
    h2 {
      color: var(--color-primary);
      max-width: 700px;
      margin: 0 auto 2rem;
      line-height: 1.1;
      text-align: center;
    }

    .plans {
      display: flex;
      justify-content: center;
      gap: 10rem;
      flex-wrap: wrap;
    }

    .plan-card {
      background-color: var(--color-accent-1);
      color: var(--color-surface);
      border-radius: var(--space-md);
      border: 1px solid var(--color-primary);
      padding: 2rem;
      width: 300px;
      height: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      line-height: 1.5;
      transition: all 0.3s ease;
    }

    .plan-card:hover {
      box-shadow: var(--shadow-md);
      transform: translateY(-10px);
    }

    h4 {
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1.3;
      margin: 0 0 0.5rem;
      color: var(--color-primary);
    }
    #plan-flipstart-price,
    #plan-enterprise-price {
      font-size: 1.7rem;
      margin: 0 0 1rem;
      border-bottom: 2px solid var(--color-primary);
    }
    abbr[title] {
      text-decoration: none;
    }

    p {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }

    .plan-features {
      list-style: disc;
      font-size: 0.8rem;
      margin-left: 1rem;
      margin-bottom: auto;
    }

    footer {
      margin-top: 3rem;
    }
  }

  .questions-section {
    p {
      color: var(--color-surface);
      font-size: 1.74375rem;
      line-height: 1.66;
      margin: 1rem auto 2rem;
      max-width: 700px;
    }

    .questions-cta {
      display: flex;
      gap: 4rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    a {
      min-width: 200px;
    }
  }
}
