.main-home {
  .hero {
    text-align: center;
  }

  .hero-inner {
    max-width: 1000px;
    line-height: 1.1;
    font-size: 20px;

    p {
      margin: 1rem 0 2rem;
    }
  }

  .about-section,
  .value-proposition,
  .questions-section {
    text-align: center;
    background-color: var(--color-primary);
  }

  .about-title {
    max-width: 700px;
    margin: 0 auto 1rem;
  }
  .value-proposition-title {
    max-width: 850px;
    margin: 0 auto 1rem;
  }

  .questions-section {
    p {
      color: var(--color-surface);
      font-size: 1.74375rem;
      line-height: 1.66;
      margin: 1rem auto 2rem;
      max-width: 700px;
    }

    .questions-cta {
      display: flex;
      gap: 4rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    a {
      min-width: 200px;
    }
  }
}
